# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.svg

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
.idea/
.vscode/
.run/
vendor/
cmd/
bin/
examples/debug/
examples/autobahn/reports

.DS_Store
